.content-container {
  padding: 0 0;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 90px);
  align-items: stretch;

  .main-container {
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    flex: 1 3 100%;
    flex-basis: 100%;
    padding: 0 0 0 15%;
    padding-right: 4%;
    padding-top: $main-content-padding-top;

    .box-container {
      width: 100%;
    }
  }

  .sidebar {
    background: $darken-white;
    border-left: $border-width solid $border-color;
    justify-content: center;
    align-items: center;
    flex: 1 4 100%;
    flex-basis: 100%;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: space-evenly;
    padding: 0 15% 0 4%;
    padding-top: $main-content-padding-top;
  }
}

@media only screen and (max-width: 1150px) {
  .content-container {
    .main-container {
      padding: 0 0 0 4%;
      padding-right: 4%;
      padding-top: $main-content-padding-top;
    }
    .sidebar {
      padding: 0 4% 0 4%;
      padding-top: $main-content-padding-top;
    }
  }
}

@media only screen and (max-width: 1085px) {
  .main-container {
    padding: $mobile-content-padding;
  }
  .sidebar {
    padding: $mobile-content-padding;
  }
}

@media only screen and (max-width: 845px) {
  .content-container {
    flex-flow: column;
    .main-container {
      justify-content: center;
      align-items: center;
      padding: $mobile-content-padding;
      padding-top: $main-content-padding-top;
      order: 2;
    }
    .sidebar {
      order: 1;
      justify-content: center;
      align-items: center;
      padding: $mobile-content-padding;
      border: 0;
      padding-top: $main-content-padding-top;
    }
  }
}
