.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: $white;
  color: $grey;
  max-width: 60rem;
  outline: none;
  border-radius: $border-radius;
  text-align: center;
  @media only screen and (max-width: 845px) {
    max-width: 45rem;
  }
}

.modal__title {
  margin: 0 0 $l-size 0;
  color: $modal-grey;
  font-family: "PostGrotesk Light";
}

.modal__header {
  padding: $l-size;
  text-align: left;
  border-bottom: $border-width solid $border-color;

  p {
    font-family: "PostGrotesk Light";
    margin: 0;
    color: $modal-dark-grey;
  }

  .modal__header__title_container {
    display: flex;
    align-items: flex-end;
    margin: 0 0 $m-size 0;
    h3 {
      margin: 0 0 0 $s-size;
    }
    svg {
      fill: $modal-light-grey;
      width: 3rem;
      height: 3rem;
    }
  }
}

.modal__body {
  color: $modal-darkest-grey;
  background: $modal-body;
  margin: 0 0 0 0;
  font-size: $font-size-modal-body;
  font-weight: 300;
  word-break: break-all;
  padding: $xl-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 845px) {
    padding: 2rem 0 0 0;
  }
  .modal__body__vefification-message {
    @media only screen and (max-width: 845px) {
      width: 90%;
    }

    p {
      margin: 0 0 3rem 0;
      font-size: $font-size-verification-message;
      display: flex;
      flex-direction: row;
      justify-content: center;
      @media only screen and (max-width: 845px) {
        flex-direction: column;
        margin: 0 0 2rem 0;
      }
    }
    div.number-container {
      @media only screen and (max-width: 845px) {
        margin-top: 2rem;
      }
    }
    span {
      padding: 0.8rem;
      border: 1px solid $modal-span-color;
    }
    .prefix-number {
      background: $modal-prefix-number-color;
      margin: 0 0 0 0.6rem;
      border-right: none;
      color: $dark-grey;
      font-family: "PostGrotesk Medium";
    }
    .number {
      background: $modal-number-color;
      color: $dark-grey;
      font-family: "PostGrotesk Medium";
    }
  }
}

.modal__body__input-fields {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-end;
  max-width: 50rem;
  div {
    display: flex;
    flex-grow: 1;
  }
}

.error {
  color: $error-red;
  font-size: 2rem;
  font-family: "PostGrotesk Medium";
}

.modal__body__input-fields input {
  width: 6rem;
  height: 6rem;
  border-radius: $border-radius;
  outline: none;
  border: $border-width solid $grey;
  padding: 1rem;
  text-align: center;
  margin: 0.6rem;
  flex-direction: row;
  flex-grow: 1;
  @media only screen and (max-width: 845px) {
    width: 3rem;
    height: 3rem;
  }
}

.modal__body__verification-links {
  font-size: $font-size-links;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 0 0;
  @media only screen and (max-width: 845px) {
    margin-bottom: 2rem;
  }

  a {
    font-family: "PostGrotesk Medium";
    color: $modal-links-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: $blue;
    margin: 0 0.8rem 0 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal__footer .modal__footer__buttons button {
  border: 1px solid #e6f2f6;
  outline: none;
  padding: 1.3rem;
  border-radius: $border-radius;
}

.modal__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: $l-size;
  border-top: $border-width solid #e2e2e2;
  @media only screen and (max-width: 845px) {
    flex-direction: column;
  }
  .modal__footer__buttons {
    .verify-identity {
      background: $blue;
      color: white;
      margin: 0 1.3rem 0 0;
    }
    .verify-identity:disabled {
      background: $light-blue;
    }
    .back-button {
      background: #fafbfb;
      color: $dark-grey;
    }
  }
  .modal__footer__links {
    font-family: "PostGrotesk Medium";
    display: flex;
    align-items: center;
    font-size: $font-size-links;
    @media only screen and (max-width: 845px) {
      justify-content: center;
      margin-top: 1rem;
    }
  }
}
